
h1 {
    color: red;
}

ul {
    border: 10px solid yellow;
    width: 400px;
    list-style-type: disc;
}

li {
    background-color: rgb(185, 210, 243);
    margin: 5px 0;
}
 .top-links {
      background-color: yellow;
      padding: 15px;
      text-align: center;
      border-radius: 10px;
    }

    .top-links a {
      color: red;
      text-decoration: none;
      margin: 0 15px;
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
    }

    .top-links a:hover {
      color: blue;   
      text-decoration: underline;
    }

