thead{
    background-color: #009879;
    color: white;
    text-align: left;
    padding: 20px;
    
}
table {
    padding: 10px;
    border-collapse: collapse;
    width: 500px;
}

tr{
  border: 3px solid whitesmoke;
  padding: 10px;
}

td{
    padding: 20px;
}
tr:hover{
  background-color:gainsboro;
}

.top-links a {
  color:red;
  text-decoration: none;
  margin: 0 10px;  
}

.top-links a:hover {
  color: yellow;
}

