thead{
    background-color: #009879;
    color: white;
    text-align: left;
    padding: 20px;
    
}
table {
    padding: 10px;
    border-collapse: collapse;
    width: 500px;
}

tr{
  border: 3px solid whitesmoke;
  padding: 10px;
}

td{
    padding: 20px;
}
tr:hover{
  background-color:gainsboro;
}

 .top-links {
      background-color: yellow;
      padding: 15px;
      text-align: center;
      border-radius: 10px;
    }

    .top-links a {
      color: red;
      text-decoration: none;
      margin: 0 15px;
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
    }

    .top-links a:hover {
      color: blue;   
      text-decoration: underline;
    }

