table {
    padding: 10px;
    border-collapse: collapse;
    width: 500px;
    text-align: left;
}

tr{
  border: 3px solid whitesmoke;
  padding: 10px;
}

thead {
  background-color: #009879;
  color: white;
}

td{
  border-bottom: 20px gray  ;
  padding: 10px;
}

td:hover{
  color: #009879;
}

tr:hover{
  background-color:whitesmoke;
  color: #009879
}

