ol{
    background-color: rgb(216, 214, 214);
    margin: 15px;
}

li{
    background-color: yellow;
    padding: 5px;
}

ul{
    background-color: peachpuff;
    margin: 10px;
}

.gg{
    background-color: pink;
    margin: 15px;
}
.top-links a {
  color:red;
  text-decoration: none;
  margin: 0 10px;  
}

.top-links a:hover {
  color: yellow;
}

